@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

$header-text-color: rgba( 0,0,0);
$paragraph-color: #767676;
$btn-bg-color: rgb(251,105,98);
$section-bg-color: #fcf2eb;
$paragraph-font-size: 12px;